*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:#f7f8ff;
}


/* MAIN */

.container{
    width:100%;
    min-height:100vh;
    display:flex;
}


/* LEFT PANEL */

.left-section{

    width:50%;

    background:
    linear-gradient(
        135deg,
        #120046,
        #3512a8,
        #6d35ff
    );

    color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;

    padding:70px;

    position:relative;
    overflow:hidden;
}


.left-section::before{

    content:"";

    width:350px;
    height:350px;

    position:absolute;

    top:-80px;
    right:-100px;

    background:rgba(255,255,255,0.08);

    border-radius:50%;

}



.left-section h1{

    font-size:56px;

    line-height:1.25;

    font-weight:800;

    letter-spacing:1px;

    z-index:1;

}


.left-section span{

    background:linear-gradient(
        90deg,
        #00eaff,
        #00ffa6
    );

    -webkit-background-clip:text;

    color:transparent;

}


.left-section p{

    margin-top:30px;

    width:85%;

    font-size:20px;

    line-height:1.7;

    opacity:0.9;

    z-index:1;

}



.left-section img{

    width:550px;

    height:360px;

    object-fit:cover;

    border-radius:25px;

    margin-top:45px;

    box-shadow:
    0 20px 50px
    rgba(0,0,0,0.35);

    z-index:1;

}





/* RIGHT SIDE */


.right-section{

    width:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    background:#f4f6fb;

}




.login-box{

    width:560px;

    background:

    rgba(255,255,255,0.85);


    backdrop-filter:blur(20px);


    padding:55px;


    border-radius:35px;


    box-shadow:
    0 25px 60px
    rgba(0,0,0,0.12);


    animation:fade 0.6s ease;

}

select{
    width:100%;
    margin-top:12px;
    margin-bottom:22px;
    padding:18px 22px;
    border:none;
    outline:none;
    background:#eef2fb;
    border-radius:18px;
    font-size:17px;
}

select:focus{
    background:white;
    box-shadow:0 0 0 3px rgba(94,0,255,0.2);
}


@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}




.login-box h2{


    text-align:center;

    font-size:58px;

    color:#160061;

    letter-spacing:5px;

    margin-bottom:10px;


}



.login-box p{


    text-align:center;

    font-size:18px;

    color:#555;

    margin-bottom:35px;


}





label{

    font-size:17px;

    font-weight:600;

    color:#222;

}




input{

    width:100%;

    margin-top:12px;

    margin-bottom:22px;

    padding:18px 22px;


    border:none;

    outline:none;


    background:#eef2fb;


    border-radius:18px;


    font-size:17px;


    transition:0.3s;

}



input:focus{

    background:white;

    box-shadow:
    0 0 0 3px
    rgba(94,0,255,0.2);

}





button{


    width:100%;


    margin-top:10px;


    padding:18px;


    border:none;


    border-radius:18px;


    background:

    linear-gradient(
        90deg,
        #7b00ff,
        #3518ff
    );


    color:white;


    font-size:18px;

    font-weight:bold;


    cursor:pointer;


    transition:0.3s;


}



button:hover{

    transform:translateY(-3px);

    box-shadow:
    0 15px 25px
    rgba(92,0,255,0.35);

}




a{

    color:#4b00ff;

    font-weight:700;

    text-decoration:none;

}



a:hover{

    text-decoration:underline;

}



/* REGISTER TEXT */

.signup{

    margin-top:30px;

}




/* MOBILE */


@media(max-width:900px){


.container{

flex-direction:column;

}


.left-section,
.right-section{

width:100%;

}


.left-section{

padding:50px 30px;

text-align:center;

align-items:center;

}


.left-section p{

width:100%;

}


.left-section h1{

font-size:40px;

}


.login-box{

width:90%;

padding:35px;

}


.login-box h2{

font-size:42px;

}


}